language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"

install:
    - pip install -r requirements.txt
    - pip install -r test_requirements.txt
    - pip install coveralls

cache:
    directories:
        - $HOME/virtualenv

script:
    - pep8 .
    - pylint aloe aloe_sphinx tests
    - coverage erase
    - coverage run -m nose
    - coverage report
    - ./tools/check_installs
    - make -C docs coverage

after_success:
    - coveralls

sudo: false

deploy:
    provider: pypi
    user: koterpillar
    password:
        secure: "PVNJN8mqJTiJhvSXDC0oi8GZwOySl8o8tAzrsiqk4uNkRwBAciHnUGSnAtt92SBC4eQmrxsnjhxCdfXOVA+SxaVoUBEnIu233EE0/k+ylueiv3VI305iBZWG2Vf0ioISCm2Mxc3Ec9ujwbwFQWXFxUHydNG9PZRjbupVF7Bnn0c="
    server: https://pypi.python.org/pypi
    on:
        tags: true
        all_branches: true
        python: 3.5
        condition: "\"$TRAVIS_TAG\" = \"v$(python setup.py --version)\""
